/* ---- Reset / Normalizing */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* appearance: none; */
}

:root {
    font-size: max(16px, 1rem);
    line-height: 1.6;
    color: white;
}

html {
    background-color: rgb(28, 28, 28);
    height: 100%;
}
/* ---- End of reset/ normalizing */

/* ---- Background SVG placement ---- */
body {
    background-image: url(./svgs/animated.svg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    min-height: 100vh;
}
/* ---- End of background styling ---- */

/* ---- Positioning styles ---- */
body {
    display: grid;
}

.gamegrid {
    border: 1px solid red;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 0.6rem;
}
/* ---- End of positioning styling ---- */

/* ---- gamegrid Visual styling ---- */
.gamegrid div {
    border: 2px solid white;
    background-color: rgba(39, 38, 39, 0.5);
}